/* -------------------OGÓLNE I HOME PAGE------------------ */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
	box-sizing: border-box;
	color: hsl(0, 0%, 10%);
	text-wrap: pretty;
	-webkit-tap-highlight-color: transparent;
}

*::selection {
	color: hsl(0, 0%, 90%);
	background-color: hsl(0, 0%, 60%);
}
body {
	margin: 0;
	font-family: "Lato", "Open Sans", Helvetica, sans-serif;
	background: url(images/background_desktop.jpg) no-repeat center center fixed;
	background-size: cover;
	transition: linear 0.5s;
}
img {
	box-shadow: 1.5px 1.5px 1.5px hsl(0, 0%, 30%);
	border-radius: 0.4rem;
	animation: opacityChange 2s;
}
header {
	background: linear-gradient(to left, hsl(0, 0%, 40%), hsl(0, 0%, 60%));
	border-radius: 0.7rem;
	z-index: 1;
}
nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	font-size: 1rem;
	cursor: pointer;
	width: 20%;
	text-shadow: -1px -1px 1px hsl(0, 0%, 40%);
	&:hover {
		background-color: hsl(0, 0%, 80%);
		animation: colorChange 0.5s;
		border-radius: 0.7rem;
		text-shadow: 1.5px 1.5px 2px hsl(0, 0%, 40%);
	}
}
nav a {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	color: black;
}
#nazwaFirmy {
	display: none;
	position: absolute;
	left: 3rem;
	font-weight: bold;
	text-shadow: 1px 1px 1px hsl(0, 0%, 60%);
}
#menuButton,
#xButton {
	display: none;
	font-size: 1.4rem;
	text-decoration: none;
	color: black;
	cursor: pointer;
	align-items: center;
	margin-right: 2rem;
	padding: 1rem;
	text-shadow: 1px 1px 1px hsl(0, 0%, 60%);
	&:hover {
		background-color: hsl(0, 0%, 80%);
		animation: colorChange 0.5s;
		border-radius: 0.7rem;
		text-shadow: -1.5px -1.5px 2px hsl(0, 0%, 40%);
	}
}
#logo img {
	width: auto;
	height: 3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	box-shadow: none;
	animation: none;
}
.active {
	background-color: hsl(0, 0%, 70%);
	text-shadow: 1.5px 1.5px 2px hsl(0, 0%, 40%);
	border-radius: 0.7rem;
}
main {
	color: hsl(0, 0%, 80%);
	text-align: left;
}
.mainContainer {
	display: flex;
	padding: 1.5rem;
	flex-direction: row;
	justify-content: space-evenly;
}
.mainContainer > div {
	margin: 1.2rem;
	padding: 2rem 2rem;
	min-height: 75dvh;
	width: 28dvw;
	align-self: center;
	color: black;
	background: linear-gradient(
		to top,
		hsla(0, 0%, 40%, 0.8),
		hsla(0, 0%, 60%, 0.8)
	);
	border-radius: 0.7rem;
	box-shadow: 1.5px 1.5px 1.5px hsl(0, 0%, 50%);
	animation: opacityChange 1s;
	overflow: auto;
	transition: linear 0.5s;
}
.mainContainer h5 {
	margin: 0;
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px hsl(0, 0%, 60%);
}
#profilePhoto {
	width: 50%;
	float: left;
	margin-right: 0.7rem;
	filter: drop-shadow(5px 5px 20px hsl(0, 0%, 80%));
	box-shadow: none;
}
.mainContainer div p {
	margin: 0;
	padding-top: 0.5rem;
}
.mainContainer div > a {
	color: black;
}
.sortContent1,
.sortContent2,
.sortContent3 {
	align-content: space-around;
}
.iconHome {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
}
.iconContact {
	border-radius: 0.7rem;
	transform: scale(100%) 0.5s;
	transition-duration: 0.5s;
	&:hover {
		background-color: hsl(0, 0%, 80%);
		animation: colorChange 0.5s;
		text-shadow: 1.5px 1.5px 2px hsl(0, 0%, 40%);
		transform: scale(107%);
		transition-duration: 0.5s;
	}
}
.italic {
	font-size: 0.9rem;
	font-style: italic;
	font-weight: normal;
	font-size: 0.9rem;
}
.caption {
	font-family: "Lato", "Open Sans", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: normal;
}
footer {
	display: flex;
	width: 100%;
	background: linear-gradient(to right, hsl(0, 0%, 40%), hsl(0, 0%, 60%));
	border-radius: 0.7rem;
	z-index: 1;
}
footer i {
	margin-top: 1.3rem;
	margin-right: 1.5rem;
	color: hsl(0, 0%, 30%);
	float: left;
	transition: color 0.7s ease;
	&:hover {
		color: black;
		transform: scale(110%);
		transition-duration: 0.5s;
	}
}
footer p {
	margin-right: 2rem;
	color: hsl(0, 0%, 40%);
	float: right;
	font-size: 0.8rem;
}
#socials {
	width: 50%;
}
#socials:first-child {
	margin-left: 2rem;
}
#copyrights {
	width: 50%;
}
#sideBar {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	height: auto;
	width: 60dvw;
	background: linear-gradient(to bottom, hsl(0, 0%, 60%), hsl(0, 0%, 40%));
	border-radius: 0.7rem;
	margin-top: 3rem;
	overflow: auto;
	z-index: 1;
}
#sideBar li {
	width: 100%;
	height: 3rem;
}
#sideBar a {
	width: 100%;
	height: 3rem;
	text-shadow: 1px 1px 1px hsl(0, 0%, 40%);
}
#sideBar i {
	font-size: 1.2rem;
}

@keyframes colorChange {
	from {
		background-color: hsl(0, 0%, 60%);
	}
	to {
		background-color: hsl(0, 0%, 80%);
	}
}
@keyframes opacityChange {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
@keyframes scaleChange {
	from {
		scale: 90%;
	}
	to {
		scale: 100%;
	}
}

/* -------------------GALERIA------------------ */

.albumCover {
	display: block;
	align-content: start;
	cursor: pointer;
	transform: scale(100%);
	transition-duration: 0.5s;
	&:hover {
		transform: scale(105%);
		transition-duration: 0.5s;
	}
}
.albumCover img {
	max-width: 100%;
	max-height: 50dvh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}
#diplomasPictureDisplay,
#gymPictureDisplay,
#trainingPictureDisplay {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 80dvh;
	max-width: 80%;
}
.galleryPrev,
.galleryNext,
.closeAlbum {
	font-size: 1.1rem;
	width: 3rem;
	height: 2rem;
	border: none;
	padding: auto;
	margin: 0 0.3rem auto 0.3rem;
	border-radius: 0.4rem;
	background-color: hsl(0, 0%, 80%);
	cursor: pointer;
	transform: scale(100%);
	transition-duration: 0.5s;
	&:hover {
		filter: brightness(120%);
		transform: scale(110%);
		transition-duration: 0.5s;
	}
}

/* -------------------OFERTA------------------ */
.offerDiv {
	align-content: center;
	cursor: pointer;
	transform: scale(100%);
	transition-duration: 0.5s;
	&:hover {
		transform: scale(105%);
		transition-duration: 0.5s;
	}
}

.iconOffer {
	font-size: 3rem;
	width: 100%;
	text-align: center;
	transition: linear 0.5s;
}
.offerTable {
	display: none;
	margin: auto;
	overflow: auto;
	border-collapse: collapse;
	animation: scaleChange 0.5s;
}
.offerTable td {
	font-weight: normal;
	padding: 6px;
	border: 2px solid hsl(0, 0%, 10%);
}
.firstRow {
	text-align: center;
	background-color: hsl(0, 0%, 60%);
}
.offerClausure {
	display: none;
	animation: scaleChange 0.5s;
}
.offerDetails {
	text-align: center;
}

/* -------------------O MNIE------------------ */

#oMniePhoto {
	max-width: 50%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}

/* -------------------WSPOLPRACA------------------ */

.iconConstructionLeft {
	font-size: 4rem;
	animation: rotateLeft 7s linear infinite;
}
.iconConstructionRight {
	font-size: 4rem;
	animation: rotateRight 7s linear infinite;
}

@keyframes rotateLeft {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
@keyframes rotateRight {
	from {
		transform: rotate(30deg);
	}
	to {
		transform: rotate(390deg);
	}
}
/* -------------------MEDIA QUERIES------------------ */
@media (768px < width <= 1024px) {
	.mainContainer {
		flex-direction: column;
		align-items: center;
	}
	.mainContainer > div {
		min-height: auto;
		width: 80dvw;
	}
	#profilePhoto {
		width: 25%;
	}
	.sortContent1 {
		order: 2;
	}
	.sortContent2 {
		order: 1;
	}
	.sortContent3 {
		order: 3;
	}
	.iconHome {
		width: 50%;
	}
	.offerTable {
		width: fit-content;
	}
	#oMniePhoto {
		min-width: 70%;
		height: auto;
	}
}
@media (width <= 768px) {
	body {
		background-image: url(images/background_mobile.jpg);
	}
	header {
		position: sticky;
		top: 0px;
	}
	#logo {
		display: none;
	}
	.link {
		display: none;
	}
	nav li {
		font-size: medium;
		flex-direction: row-reverse;
	}
	nav ul {
		height: 3rem;
		flex-direction: row-reverse;
	}
	#nazwaFirmy {
		display: flex;
	}
	#menuButton {
		display: flex;
	}
	.mainContainer {
		flex-direction: column;
		align-items: center;
	}
	.mainContainer > div {
		min-height: auto;
		width: 85dvw;
	}
	footer i {
		margin-right: 1rem;
	}
	.sortContent1 {
		order: 2;
	}
	.sortContent2 {
		order: 1;
	}
	.sortContent3 {
		order: 3;
	}
	#oMniePhoto {
		min-width: 90%;
		height: auto;
	}
}
